.linkButton {
  background-color: var(--button-base-bg);
  border: 1px solid var(--button-base-border);
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.linkButton:hover {
  background-color: var(--button-base-bg-hover);
}
